/* .top-bar {
    margin: auto;
} */
.top-bar >a> img{
    margin-left: 46%;
    width: 8%;
}
.header{
    display: flex;

    margin-left: 2%;
    margin-top: -10px;
}

.btn1{
    display: flex;
    background-color: white;
    width: 13%;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.432);
    font-weight: bold;
    
}
.btn1>img{
    width: 13%;
    margin-top:6px;
}
.btn1>p{
    margin-left:5px;
    margin-top: 6.05%;
    letter-spacing:0.5px;
    font-size:12px;
}
.input_div{
    display: flex;
    width: 70%;

}
.img{
    width: 2%;
    height: 55%;
    margin-left: -3.25%;
    margin-top:7px;
    
}
.input_tag{
    margin-left:1%;
    width:75%;
    height: 36px;
    border: 1px solid rgba(128, 128, 128, 0.432);
    

}
.input_tag:hover{
    border: 1px solid rgba(128, 128, 128, 0.432);
}
.header_right{
    display: flex;
    margin-left:-14%;
    margin-top: -6px;
}
.myOrder{
    margin-left:-4%;
    display: flex;
    width: 30%;
}
.myOrder>img{
    width:18%;
    margin-top: 10px;
    height: 23px;
}
.myOrder>p{
    margin-left:5px;
}
.items{
    display: flex;
    width: 30%;
}
.items>img{
    width:23%;
    margin-top: 10px;
}
.cool_image{
    margin-top: 14px;
    height:25px;
}
.header_right>button{
    background-color:white;
    border: none;
}
.header_right>p{
    margin-top: 21px;
}
.first_carousel{
    margin-top: 3%;
    display: flex;
    /* overflow: auto; */
}
.first_carousel >div{
    margin-left:60px;
}
.first_carousel>div>img{
    border-radius: 50%;
    
    height: 80px;
}
.first_carousel>div>p{
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.first_carousel>div>p:hover{
    color: orangered;
}





.slider-wrapper{
    position: relative;
    /* overflow: hidden; */
    height: 1900px;
}
.timeout_carousel{
    margin-left: 2.5%;
}
.button-container{
    display: flex;
    justify-content: space-between;
}
.btn-slider-1 {
    position: relative;
    top: 300px;
    z-index: 100;
    width: 2.75%;
    height:50px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border: none;
    
}

/* .timeout_carousel > figure{
    position: relative;
    width: 300%;
    margin: 0;
    left: 0;
    animation: 10s slider infinite;
} */
/* .timeout_carousel figure div{
    position: relative;
} */

.box{
    display: flex;
    position: relative;
    width: 1800px;
}
.inner_box1{
    margin-left:-.5%;
    
}
.inner_box1 > a >img {
    height: 600px;
    width: 96%;
    border-radius: 6px;
}
.inner_box2{
    
    display: grid;
}
.inner_box2 > a >img {
    margin-top: .5%;
    width: 100%;
    height: 285px;
    border-radius: 6px;

}
.btn-area{
    position: absolute;
    /* width: 30%; */
    top: 95%;
}
.button-area>button {
    
    font-size: 20px;
}
