/* .top-bar {
    margin: auto;
} */

/* .full-header {
    position: fixed;
} */
.top-bar >a> img{
    margin-left: 46%;
    width: 8%;
}
.header{
    display: flex;

    margin-left: 2%;
    margin-top: -10px;
}

.btn1{
    display: flex;
    background-color: white;
    width: 13%;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.432);
    font-weight: bold;
    
}
.btn1>img{
    width: 13%;
    margin-top:6px;
}
.btn1>p{
    margin-left:5px;
    margin-top: 6.05%;
    letter-spacing:0.5px;
    font-size:12px;
}
.input_div{
    display: flex;
    width: 70%;

}
.img{
    width: 2%;
    height: 55%;
    margin-left: -3.25%;
    margin-top:7px;
    
}
.input_tag{
    margin-left:1%;
    width:75%;
    height: 36px;
    border: 1px solid rgba(128, 128, 128, 0.432);
    

}
.input_tag:hover{
    border: 1px solid rgba(128, 128, 128, 0.432);
}
.header_right{
    display: flex;
    margin-left:-14%;
    margin-top: -6px;
}
.myOrder{
    margin-left:-4%;
    display: flex;
    width: 30%;
}
.myOrder>img{
    width:18%;
    margin-top: 10px;
    height: 23px;
}
.myOrder>p{
    margin-left:5px;
}
.items{
    display: flex;
    width: 30%;
}
.items>img{
    width:23%;
    margin-top: 10px;
}
.cool_image{
    margin-top: 14px;
    height:25px;
}
.header_right>button{
    background-color:white;
    border: none;
}
.header_right>p{
    margin-top: 21px;
}




.first_carousel{
    margin-top: 3%;
    margin-left: -.5%;
    display: flex;
    width: 100%;
    /* overflow: auto; */
}
.first_carousel >div{
    margin-left:70px;
    
}
.first_carousel>div>img{
    border-radius: 50%;
    
    height: 80px;
}
.first_carousel>div>p{
    
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: sans-serif;
    text-align: center;
}
.first_carousel>div>p:hover{
    color: orangered;
}

.btn-primary{
    background-color: #fff;
    border:none;
    margin-top:.5%;
    width: 3.5%;
    height: 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}
.btn{
    background-color: #fff;
    border:none;
    margin-top:.5%;
    border-radius: 2px;
    margin-left: -3%;
    z-index: 100;
    width:4.5%;
    height: 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}




.timeout_carousel{
    margin-left: 2%;
    width: 97%;
}
.button-container{
    display: flex;
    justify-content: space-between;
}
.btn-img{
    
    height: 15px;
}
.btn-slider-1 {
    position: relative;
    top: 320px;
    margin-left:-1.25%;
    z-index: 100;
    width: 3.35%;
    height:68px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    
}
.btn-slider-right-part{
    right: -8px;
}

/* .timeout_carousel > figure{
    position: relative;
    width: 300%;
    margin: 0;
    left: 0;
    animation: 10s slider infinite;
} */
/* .timeout_carousel figure div{
    position: relative;
} */


.inner_box1{
    margin-left:-.5%;
    
}
.inner_box1 > a >img {
    height: 600px;
    width: 96%;
    border-radius: 6px;
}
.inner_box2{
    
    display: grid;
}
.inner_box2 > a >img {
    margin-top: .5%;
    width: 100%;
    height: 285px;
    border-radius: 6px;

}



.gadget-main-div{
    margin-top:3%;

}
.h2{
    font-size: 1.8rem;
    color: #222;
    margin: 0;
    font-weight: 700;
    text-align: center;
    font-family: sans-serif;
    letter-spacing:1px;
}
.gadget-div {
    margin-left:2%;
    margin-top: 3%;
    display: flex;
    width: 95%;
}
.gadget-div>img {
    width: 25%;
}





.flash-div{
    margin-top:5%;
    max-width: 100%;
    height:auto;
}
.flash-div > h2{
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-align: center;

}
.flash-div>a>button{
    align-items: center;
    margin-left: 46%;
    background-color:orangered;
    border: none;
    width:7%;
    height:30px;
    border-radius:20px;
    color:white;
    font-weight: bold;
}





.product-carousel{
    margin-top:3%;
}
.product-carousel-inner{
    display: flex;
    
}
.product-div{
    width: 15%;
    margin-left:4%;
    height:450px;
  

}
.product-div>img{
    width:130px;
    height:46%;
    margin-left: 23%;
    transition: all .5s ease-in-out;
    position: relative;
}
.price{
    text-align: center;
    color:orangered;
}
.para{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-overflow: ellipsis;
    text-align: center;
}



.orange-line{
    background-color:orangered;
    height:7px;
    width:6%;
    border-radius:3px;
    margin: auto;
}





#lt1{
    position: absolute;
    /* margin-left:-1%; */
    width: 3.25%;
}
#rt1{
   margin-left:95.6%;
   position: absolute;
   width: 3.25%;
}


